name: Python CI

on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5

              with:
                python-versions: "3.10"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pipinstall -r requirements.txt

            - name: Run tests
              run: pytest
